
.noticeSectionCard{
    width: 400px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    margin:20px;
    background-color: #38a3a5;
}

.noticeImage {
    height: 250px;
    width: 200px;
    border-radius: 5%;

}

.noticeTitCard{
    font-size: large;
    font-weight:200;
    text-align: left;
    margin: 5px;
}

.descrip{
    font-size:medium;
    font-weight: 100;
    text-align: left;
    margin: 5px;
}


