.noticeSection{
    width: 200px;
    display: flex;
    padding-top: 20px;
}

.noticeImage {
    height: 100px;
    width: 10px;
    top: 0%;
    left: 0%;
    border-radius: 20%;
    background-size: cover;
}

.textNotice{
    padding-left: 10px;
}

.noticeTit{
    text-align: left;
    font-size: medium;
    color: #57cc99;
}

.descriptionNews {
    color: #ffffff;
    text-align: left;
    font-size: medium;
}

