.noticeSection {
    width: auto;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 20px;
}

.noticeSection:last-child {
    margin-bottom: 0;
}

.noticeImage {
    width: 120px;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
}

.textNotice {
    padding-left: 10px;
    text-align: left;
}

.url::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    cursor: pointer;
}
.url {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}
