.home-notice-section{
    width: auto;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 20px;
}

.home-notice-section:last-child {
    margin-bottom: 20px;
}

.home-notice-section .noticeImage {
    width: 120px;
    aspect-ratio: 1 / 1;
    border-radius: 10%;
}

.home-notice-section .textNotice {
    padding-left: 10px;
    text-align: left;
}

.home-notice-section .url::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    cursor: pointer;
}
.home-notice-section .url {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}
