.game-section {
    width: 100%;
    padding: 20px 0;
}

.game-section .game-list {
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
}

.game-section-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-ver-mas{
    height: 12px;
    margin-right: 10px;
}