.container .tituloJuego {
    text-align: center;
    color: #57CC99;
}

.Subtitulo{
    color: #57CC99;
}

.ListaImagen{
    width: 70px;
    height: 80px;
    display: flex;
    gap: 15px;
}
.Subtitulo1 {
    margin-top: 30px;
    color: #57CC99;
}

.formulario{
    display: grid;
    gap: 20px;
}

.container-compra .buttons-group{
    margin-top: 100px;
    justify-content: space-between ;
    
    
}
.container-compra .btn{
    padding: 15px 46px;
}


.modal-fade .modal-content-descarga  {

        background: #22577A;
        padding: 20px;
        width: 30%;
        height: 80%;
        max-width: 1200px;
        border-radius: 10px;
        
    
}

.modal-fade .modal-content-descarga .container-descarga{
  margin-top: 50px;
  
}

.modal-fade .modal-content-descarga .modal-header {
    display: flex;
    justify-content: end;
}

.informacion{
    height: 120%;
    text-transform: uppercase;
}
.container-descarga .titulo{
    text-align: center;
    margin-top: 30%;
    margin-bottom: 10%;
    color: #57CC99;
}

.modal-fade .modal-content-descarga .buttons-group1 {
    display: flex;
    justify-content: space-between;
    margin-top: 40%;
    
}

.modal-fade .modal-content-descarga .btn{
    padding: 15px 46px;
}






