.container .form .botones-login-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .form .login-titulo{
    text-transform: uppercase;
    color: #57cc99;
    font-size: xx-large;
    margin: 30px;
}


.container .form .botones-login-register .btn-inicio-sesion{
    background-color: #57cc99;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    color: #fff;
}

.container .form .botones-login-register .opc-registro{
    text-transform: uppercase;
    color: #57cc99;
    margin-top: 10px;
    margin-left:22px;
    color: #fff;
}

.login-form {
    justify-content: center;
}