header {
    width: 100%;
    margin-bottom: 20px;
}

header .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header .navbar .brand {
    display: flex;
    align-items: center;
}

header .navbar .brand h1 {
    margin: 0;
}

header .navbar .logo {
    width: 80px;
    height: 80px;
}

header .navbar .enlaces {
    display: flex;
    gap: 20px;
}
header .navbar .enlaces .enlace {
    display: flex;
    align-items: center;
}

header .navbar .enlaces .enlace span {
    margin-left: 5px;
}

header .navbar #searchButton {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.registrarse,
.iniciar-sesion {
    color: white;
    text-decoration: none;
}

header .navbar #logIn {
    cursor: pointer;
}
