body {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    color: #fff;
}

body * {
    font-family: inherit;
    font-size: inherit;    
}

h1 {
    font-weight: bold;
    font-size: 36px;
}

h2 {
    font-weight: 600;
    font-size: 32px;
}

h3 {
    font-weight: 500;
    font-size: 24px;
}

h4 {
    font-weight: 400;
    font-size: 20px;
}

h1,
h2,
h3,
h4 {
    margin: 0 0 20px;
}

h1 > span,
h2 > span,
h3 > span,
h4 > span {
    color: #57cc99;
}

p {
    line-height: 1.2;
    letter-spacing: 0.5px;
    font-weight: 400;
    margin-bottom: 20px;
}

a {
    font-weight: 400;
    color: white;
}

a:hover:not(.btn) {
    text-decoration: underline;
}

.stretched-link::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6 {
    color: #38A3A5; /* Títulos */
}

.rich-text p {
    color: #FFFFFF; /* Párrafos en blanco */
}

.rich-text a {
    color: #57CC99; /* Enlaces */
    text-decoration: none;
}

.rich-text a:hover {
    color: #38A3A5; /* Enlaces al pasar el ratón */
    text-decoration: underline;
}

.rich-text ul,
.rich-text ol {
    color: #FFFFFF; /* Listas en blanco */
}

.rich-text ul li,
.rich-text ol li {
    color: #FFFFFF; /* Elementos de listas en blanco */
}
.rich-text ul li strong,
.rich-text ol li strong {
    color: #57cc99; /* Elementos de listas en blanco */
}

