.uploadAssetsForm .preview-group {
    display: flex;
    gap: 20px;
}

.uploadAssetsForm .preview-group .box {
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 4px;
}

.uploadAssetsForm .preview-group .box img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.uploadAssetsForm .assetField input[type=file]{
    display: none;
}

/* .uploadAssetsForm .assetField label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    
    background: #f1f5f9;
    border: 4px dashed #9ca3af;
    color: #9ca3af;
    cursor: pointer;
} */