/* Estilos para el contenedor */
.container {
    max-width: 1320px;
    margin: 0 auto; /* Centrar el contenedor */
}

/* Estilos para el layout de contenido */
.content-layout{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Estilos para las columnas */
.content-layout aside {
    grid-column: 1 / span 3;
}

.content-layout main {
    grid-column: 4 / span 12;
}

/* Estilos para resoluciones inferiores a desktop y mayores o iguales a tablet */
@media (max-width: 1280px) {
    .container {
        width: 80%;
    }
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding-right: 20px;
    }
    
    /* Deshacer el grid layout */
    .content-layout {
        display: block;
    }
    
    .content-layout aside,
    .content-layout main {
        grid-column: initial;
    }
}

/* Estilos para el HomePage */

.home-content-layout{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.left-aside{
    grid-column: 1 / span 1;
    margin-right: 20px;
}

.main{
    grid-column: 2 / span 7; 
}

.right-aside{
    grid-column: 9 / span 4;
    margin-left: 20px;
}

.Container-admin-dev, .ContainerAdmin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffff;
    color: black;
    overflow-y: scroll;
}

.content-Link-admin-dev{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 20px;
    width: 90%;
}
.content-Link-admin-dev .Link-admin-dev-cs{
    margin-top: 20px;
}

.aside-toolbar {
    display: flex;
    max-width: 280px;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
}