.valor-comprar-admin .opciones-admin{
display: grid;
align-items: center;
row-gap: 20px;
}
.close-admin{
    color: black;
}
.modalGameAdmin{
    text-align: center;
    margin-bottom: 40px;
}
.det-nom-admin-edit {
    color: black;
}
.valor-comprar-admin{
    display: flex;
    justify-content: space-around;
}
.botones-admin{
    display: flex;
    column-gap: 20px;
}