.noticiasPageAdmin .boton-agregar-noticia{
    margin-top: 30px;
    width: 100px;
}
.noticiasPageAdmin{
    display: flex;
    flex-direction: column;
}

.noticiasPageAdmin .lista-noticias .noticeCard .noticeSectionCard {
    background-color: #f8fafc;
}
.noticiasPageAdmin .lista-noticias .noticeCard .noticeSectionCard .textNotice {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4b5563;
}
.noticiasPageAdmin .lista-noticias .noticeCard .noticeSectionCard .textNotice div {
    display: none;
}
.noticiasPageAdmin > :last-child{
    align-self: center;
}
.noticiasPageAdmin > :first-child{
    text-align: center;
}