.fullSection{
    display: inline-flex;
    padding: 20px;
}
.gameCardSection {
    position: relative;
    display: block;
    width: 32%;
    height: auto;
    max-height: 150px;
}
.gameImage{
    width: 100%;
    height: 100%;
}
.urlGame{
    text-align: center;
}

.urlGame::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    cursor: pointer;
}


a {
    color: #ffffff;
    text-decoration: none;
}

.description{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Oculta el texto por defecto */
    color: #ffffff;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.gameCardSection:hover{
    filter:brightness(50%);
}

.gameCardSection:hover .description{
    opacity: 1;
}