@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

body {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

h1 {
    font-weight: bold;
    font-size: 36px;
}

h2 {
    font-weight: 600;
    font-size: 32px;
}

h3 {
    font-weight: 500;
    font-size: 24px;
}

h4 {
    font-weight: 400;
    font-size: 20px;
}

p {
    font-weight: 400;
}

a {
    font-weight: 400;
    color: #57cc99;
}

.contanier {
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 32px;
    padding: 16px;
    border: 0;
    outline: 0;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0, 3s ease;
}

.btn::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0, 3s ease;
}

.btn:hover {
    transform: translate(-3px, -3px);
}

.btn:hover::before {
    transform: translate(4px, 4px);
}

.btn-1 {
    background: #57cc99;
}

.btn-1::before {
    background: #38a3a5;
}

.btn-1:hover::before {
    transform: translate(4px, 4px);
}

.btn-2 {
    background: #c453d7;
}

.btn-2::before {
    background: #c676d4;
}

.btn-3 {
    background: #ef5454;
}

.btn-3::before {
    background: #d86767;
}

.btn-4 {
    background: #4978be;
}

.btn-4::before {
    background: #629df5;
}

.btn-5 {
    background: #8f8b8b;
}

.btn-5::before {
    background: #a6a6a6;
}