.form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.form .field-wrapper {
    width: 48%;
}

.form .field-wrapper.full-width{
    width: 100%;
}

.assets-form__input-file {
    display: none;
}